package {{ package }}.entity;

import jakarta.persistence.*;
import java.util.List;
import jakarta.validation.constraints.*;

@Entity
public class {{ entity_name }} {
{% for name, field in fields.items() %}
    {% if name == "id" %}
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    {% endif %}
    {% if field.get("required") %}
    @NotNull
    {% endif %}
    {% if field.get("pattern") == "email" %}
    @Email
    {% endif %}
    {% if field.get("type") == "String" and (field.get("min") or field.get("max")) %}
    @Size{% if field.get("min") and field.get("max") %}(min = {{ field.get("min") }}, max = {{ field.get("max") }}){% elif field.get("min") %}(min = {{ field.get("min") }}){% elif field.get("max") %}(max = {{ field.get("max") }}){% endif %}
    {% endif %}
    private {{ field.type|java_type }} {{ name }};
{% endfor %}



{% for relation in relations %}
    {% if relation.type == "ManyToOne" %}
    @ManyToOne
    private {{ relation.target }} {{ relation.field }};
    {% endif %}

    {% if relation.type == "OneToOne" %}
    @OneToOne
    private {{ relation.target }} {{ relation.field }};
    {% endif %}

    {% if relation.type == "OneToMany" %}
    @OneToMany(mappedBy = "{{ relation.mappedBy }}")
    private List<{{ relation.target }}> {{ relation.field }};
    {% endif %}

    {% if relation.type == "ManyToMany" %}
    @ManyToMany
    private List<{{ relation.target }}> {{ relation.field }};
    {% endif %}
{% endfor %}

{% for name, field in fields.items() %}
    public {{ field.type|java_type }} get{{ name[:1].upper() + name[1:] }}() {
        return {{ name }};
    }

    public void set{{ name[:1].upper() + name[1:] }}({{ field.type|java_type }} {{ name }}) {
        this.{{ name }} = {{ name }};
    }
{% endfor %}

{% for relation in relations %}
    {% if relation.type == "OneToMany" or relation.type == "ManyToMany" %}
    public List<{{ relation.target }}> get{{ relation.field[:1].upper() + relation.field[1:] }}() {
        return {{ relation.field }};
    }

    public void set{{ relation.field[:1].upper() + relation.field[1:] }}(List<{{ relation.target }}> {{ relation.field }}) {
        this.{{ relation.field }} = {{ relation.field }};
    }
    {% else %}
    public {{ relation.target }} get{{ relation.field[:1].upper() + relation.field[1:] }}() {
        return {{ relation.field }};
    }

    public void set{{ relation.field[:1].upper() + relation.field[1:] }}({{ relation.target }} {{ relation.field }}) {
        this.{{ relation.field }} = {{ relation.field }};
    }
    {% endif %}
{% endfor %}
}
