package {{ package }}.repository;

import {{ package }}.entity.{{ entity_name }};
import org.springframework.data.jpa.repository.JpaRepository;

public interface {{ entity_name }}Repository extends JpaRepository<{{ entity_name }}, Long> {
}
